
<div *ngIf="!Fname" style="text-align:right;margin: -82px 60px 0px 0px;">
  <a class="btn btn-lg btn-link" routerLink="/login">Login</a> |
  <a class="btn btn-lg btn-link" routerLink="/register">Register</a>
</div>
<div *ngIf="Fname" style="text-align:right;margin: -82px 60px 0px 0px;">
 <label>Welcome - {{user.Fname}}</label> |
  <button class="btn btn-lg btn-link" (click)="Logout()" routerLink="/register">Logout</button>
</div>
<hr/>
<router-outlet></router-outlet>
<hr/>
<div class="footer" style="text-align:center;">
 <h6>@Copyright 2018 | Ashwin - Orion India | Privacy & Terms</h6>
</div>
